{#=====================================================
  Things list page
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    To Do List

{% endblock %}


{% block content %}

    <h1>Your Tasks!</h1>    
        {% for task in tasks %}
            <article class="task-container">
                <span class="task priority-{{task.priority}}">
                {% if task.complete==1 %}
                        <a id="complete-button" href="/complete/{{task.id}}">&#9745;</a>
                        <s> <h4>{{ task.priority }}</h4> </s>
                        <s> <p>{{ task.name }}</p> </s>    
                    {% else %}
                        <a id="complete-button"  href="/complete/{{task.id}}">&#9744;</a>
                        <h4>{{ task.priority }}</h4>
                        <p>{{ task.name }}</p>
                    {% endif %}
                </span>

                <span class="task-actions">
                    {% if task.complete==1 %}
                        <a href="/delete/{{task.id}}">&#9003;</a>
                        {# Only completed tasks can be deleted #}
                    {% endif %}
                </span>
            </article>



        {% else %}

            <p>None!</p>

        {% endfor %}
    

   


    <article>

        <h3>Add a New Task!</h3>

        <form action="/add" method="POST">

            <fieldset role="group">
                <input
                    type="text"
                    name="name"
                    placeholder="Name of new task"
                    required
                >

                <input
                    list="priorities"
                    name="priority"
                    min="1"
                    max="5"
                    placeholder="Priority"
                    required
                >
                <datalist id="priorities">
                    <option value="1">
                    <option value="2">
                    <option value="3">
                    <option value="4">
                    <option value="5">
                </datalist>


                <button>Add!</button>
            </fieldset>
        </form>
    </article>

{% endblock %}

